<footer class="footer group" role="contentinfo">

  <div class="container center">

    <div class="title center">
      <span class="brand_color">{{site.title}}</span>
      <span class="hide_on_phones">/</span> <br class="break_on_phones">
      <span>{{site.company.legal_name}}</span>
    </div>

    <div class="footer_block flex_row flex_align_center">

      <div class="location_text">

        <div class="">{{site.company.address_line_1}}</div>

        <div class="">{{site.company.address_line_2}}</div>

        <div class="">{{site.company.address_line_3}}, {{site.company.country}}</div>

      </div>

    </div>

    <div class="footer_block flex_row flex_align_center">
      {% include svg/use.html id="icn--email" class="email" %}
      <span><a href="mailto:{{site.company.email}}">{{site.company.email}}</a></span>
    </div>

    <div class="footer_block flex_row flex_align_center">
      {% include svg/use.html id="icn--localphone" class="localphone" %}
      <span><a href="tel:{{site.company.telephone}}" title="{{site.company.telephone}}">{{site.company.telephone}}</a></span>
    </div>

    <div class="footer_block copyright">Copyright © {{ "now" | date: "%Y" }} {{site.company.legal_name}}. <br class="break_on_phones">All rights reserved. <br class="break_on_phones"> Powered by <a href="https://junglestar.org">Junglestar</a></div>

  </div>

</footer>
