<footer class="footer group" role="contentinfo">

  <div class="container">

    <div class="address">

      <div class="title">
        <span class="brand_color">{{site.title}}</span> /
        <span>{{site.company.legal_name}}</span>
      </div>

      <div class="">{{site.company.address_line_1}}</div>

      <div class="">{{site.company.address_line_2}}</div>

      <div class="">{{site.company.address_line_3}}, {{site.company.country}}</div>

    </div>



    <div class="contacts">

      <div class="email">{{site.company.email}}</div>

      <div class="telephone">{{site.company.telephone}}</div>

    </div>

    <div class="copyright">Copyright © {{ "now" | date: "%Y" }} {{site.company.legal_name}}. All rights reserved. <br class="break_on_phones"> Powered by <a href="https://junglestar.org">Junglestar</a></div>

  </div>

</footer>
