<div class="header group ">

  <div class="container">

    {% if page.title == 'home' %}

    <div class="logo_block group" href="/" title="{{ site.title }}">

      <h1 class="hide">{{ site.title }}</h1>

      {% include svg/use.html id="icn--logo" class="logo" %}

    </div>

    {% else %}

    <a class="logo_block group" href="/" title="{{ site.title }}">

      <h1 class="hide">{{ site.title }}</h1>

      {% include svg/use.html id="icn--logo" class="logo" %}

    </a>

    {% endif %}

    <h2 class="subtitle tilted brand_color">{{site.subtitle}}</h2>

  </div>

</div>
