.header {
  background-color: white;
  position: relative;
  z-index: 10;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $vertical_rhythm/2 $vertical_rhythm;
  }


  .logo_block {
    //a
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 0;
    // no underline here
    border-bottom: 0 none;

    &:hover {
      border-bottom: 0 none;
    }
    @include media( "screen", ">minWidth") {
      padding-bottom: 0;
    }
  }

  .logo {
    //svg
    width: 50vw;
    height: 50vw;
    margin-bottom: $vertical_rhythm--small;
    @include media( "screen", ">minWidth") {
      width: 30vw;
      height: 30vw;
    }
  }

  h1 {
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: center;
    @include media( "screen", ">bp1Width") {
      margin-right: $vertical_rhythm;
    }
  }

}

.subtitle {
  h1 {
    font-size: 1.2rem;
  }
}
